{% extends "layout.html" %}
{% from 'macros.html' import render_field %}

{% block content %}
<div class="container">
    <div class="edit-entry">
        <h2>Edit Entry</h2>
        <form method="POST" action="">
            <form>
                {{ form.hidden_tag() }}
                {% for field in form %}
                    {{ render_field(field) }}
                {% endfor %}
                <input type="submit" value="Publish Entry" class="button">
                <a href="{{ url_for("list_entries") }}" class="button button-secondary">Cancel</a>
            </form>
        </form>
    </div>
</div>
{% endblock %}
