{% extends "layout.html" %}

{% block content %}
<div class="container">
    <div class="entry-list">
        {% for entry in list %}
        <article>
            <h2><a href="{{ url_for('show_details', slug=entry.slug) }}
            ">{{ entry.title }}</a></h2>
            <time datetime="2020-01-01">{{ entry.date.strftime('%B %-d, %Y') }}</time>
                <p>
                    <span class="tag"><a href="{{ url_for("list_entries", tag=entry.tags) }}">{{ entry.tags }}</a></span>
                </p>
        </article>
        {% endfor %}

    </div>
</div>
{% endblock %}
